# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>

Options -MultiViews

RewriteEngine on
RewriteBase /

#move http to https
#enable this before you upload to server
RewriteCond %{HTTPS} !^on$
RewriteRule (.*) https://cashcrow.me/$1 [R,L]

RewriteRule ^home ui/index-cashcrow.php [L]

#api
#api/[model]/[action]/[par1]/[par2]/[par3]

#move all others to route.php so we can redirect
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ api.php/$1 [L]

#RewriteRule ^api/pulse/create/([^/.]+)/([^/.]+)/([^/.]+)/?$ api.php?do=pulse&hash=$1&status=$2&log=$3 [L]
#RewriteRule ^api/pulse/create/([^/.]+)/([^/.]+)/?$ api.php?do=pulse&hash=$1&status=$2 [L]

#url not found
#ErrorDocument 404 /home
