# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>

Options -MultiViews -Indexes

#CORS
#Header add Access-Control-Allow-Origin "*"
#Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
#Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"

RewriteEngine on
#RewriteBase /

#force https
#RewriteCond %{HTTPS} !^on$
#RewriteRule (.*) https://foobar/$1 [R,L]

#move all requests to the app folder
RewriteRule ^(.*)$ index.php?$1 [L]

#url not found
#this isn't necessary for now
#ErrorDocument 404 /404
